
/src/_ReSharper.deveeldb.vs2010
/src/deveeldb-server/obj
/src/deveeldb-server/bin
/src/deveeldb-nunit/bin
/src/deveeldb-nunit/obj
/src/deveeldb-shell/obj
/src/deveeldb-shell/bin
/src/deveeldb/Deveel.Data.Sql/ParseException.cs
/src/deveeldb/Deveel.Data.Sql/SQL.cs
/src/deveeldb/Deveel.Data.Sql/SQLConstants.cs
/src/deveeldb/Deveel.Data.Sql/SQLTokenManager.cs
/src/deveeldb/Deveel.Data.Sql/SimpleCharStream.cs
/src/deveeldb/Deveel.Data.Sql/Token.cs
/src/deveeldb/Deveel.Data.Sql/TokenMgrError.cs
/src/deveeldb/obj
/src/deveeldb/bin
/src/deveeldb-client/obj
*.user
*.suo
/src/deveeldb-client/bin
/src/deveeldb/Deveel.Data/SqlState_States.cs
/src/sqlstategen/obj
/src/sqlstategen/bin
/src/sqlstate/obj
/src/sqlstate/bin
/src/_ReSharper.deveeldb.vs2010.dev