**/bin/*
**/obj/*
/src/_ReSharper.deveeldb.vs2010
/src/deveeldb/Deveel.Data.Sql/ParseException.cs
/src/deveeldb/Deveel.Data.Sql/SQL.cs
/src/deveeldb/Deveel.Data.Sql/SQLConstants.cs
/src/deveeldb/Deveel.Data.Sql/SQLTokenManager.cs
/src/deveeldb/Deveel.Data.Sql/SimpleCharStream.cs
/src/deveeldb/Deveel.Data.Sql/Token.cs
/src/deveeldb/Deveel.Data.Sql/TokenMgrError.cs
*.user
*.userprefs
*.suo
/src/deveeldb/Deveel.Data/SqlState_States.cs
/src/_ReSharper.deveeldb.vs2010.dev
/src/deveeldb/Deveel.Data.Sql.Parser/SQL.cs
/src/deveeldb/Deveel.Data.Sql.Parser/TokenMgrError.cs
/src/deveeldb/Deveel.Data.Sql.Parser/ParseException.cs
/src/deveeldb/Deveel.Data.Sql.Parser/SimpleCharStream.cs
/src/deveeldb/Deveel.Data.Sql.Parser/SQL.csc
/src/deveeldb/Deveel.Data.Sql.Parser/SQLConstants.cs
/src/deveeldb/Deveel.Data.Sql.Parser/SQLTokenManager.cs
/src/deveeldb/Deveel.Data.Sql.Parser/Token.cs
/src/packages
/dist
/doc/Help
*.log
*.chk
*.jrs
*.ide
/src/deveeldb.doc/Help
/src/deveeldb/TinyIoC.cs
/src/deveeldb.doc/obj/Release/*.cache
/src/*.DotSettings
*.tokens
