
/src/_ReSharper.deveeldb.vs2010
/src/deveeldb-server/obj
/src/deveeldb-server/bin
/src/deveeldb-nunit/bin
/src/deveeldb-nunit/obj
/src/deveeldb-shell/obj
/src/deveeldb-shell/bin
/src/deveeldb/Deveel.Data.Sql/ParseException.cs
/src/deveeldb/Deveel.Data.Sql/SQL.cs
/src/deveeldb/Deveel.Data.Sql/SQLConstants.cs
/src/deveeldb/Deveel.Data.Sql/SQLTokenManager.cs
/src/deveeldb/Deveel.Data.Sql/SimpleCharStream.cs
/src/deveeldb/Deveel.Data.Sql/Token.cs
/src/deveeldb/Deveel.Data.Sql/TokenMgrError.cs
/src/deveeldb/obj
/src/deveeldb/bin
/src/deveeldb-client/obj
*.user
*.suo
/src/deveeldb-client/bin
/src/deveeldb/Deveel.Data/SqlState_States.cs
/src/sqlstategen/obj
/src/sqlstategen/bin
/src/sqlstate/obj
/src/sqlstate/bin
/src/_ReSharper.deveeldb.vs2010.dev
/src/SampleApp/obj
/src/SampleApp/bin
/src/deveeldb/Deveel.Data.Sql.Parser/SQL.cs
/src/deveeldb/Deveel.Data.Sql.Parser/TokenMgrError.cs
/src/deveeldb/Deveel.Data.Sql.Parser/ParseException.cs
/src/deveeldb/Deveel.Data.Sql.Parser/SimpleCharStream.cs
/src/deveeldb/Deveel.Data.Sql.Parser/SQL.csc
/src/deveeldb/Deveel.Data.Sql.Parser/SQLConstants.cs
/src/deveeldb/Deveel.Data.Sql.Parser/SQLTokenManager.cs
/src/deveeldb/Deveel.Data.Sql.Parser/Token.cs
src/ddbperftest/obj/Debug/ddbperftest.csproj.FileListAbsolute.txt
/src/ddbperftest/obj
/src/packages
/dist
/src/ddbperftest/bin
/src/deveeldb-gis/obj
/src/deveeldb-gis/bin
/doc/Help
*.log
*.chk
*.jrs
*.ide
/src/deveeldb.doc/Help
/src/deveeldb/TinyIoC.cs
/src/deveeldb.doc/obj/Release/*.cache
/src/*.DotSettings
