<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="system.data" type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.data>
		<DbProviderFactories>
			<!--add invariant="Deveel.Data.Client.DeveelDBClient" type="Deveel.Data.Client.DeveelDBClientFactory, deveeldb, PublicKeyToken=0738eb9f132ed756" name="DeveelDB Data Provider" description=".Net Framework Data Provider for DeveelDB" /--> 
			<add invariant="Deveel.Data.Client.DeveelDBClient" type="Deveel.Data.Client.DeveelDBClientFactory, deveeldb" name="DeveelDB Data Provider" description=".Net Framework Data Provider for DeveelDB" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Connection Type=file; Initial Catalog=./my.database.1.deveeldb; User=sa; Password=;" providerName="Deveel.Data.Client.DeveelDBClient" />
	</connectionStrings>
	<appSettings>
		<add key="MyTestConfig" value="true" />
	</appSettings>
</configuration>
