<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.5.3" targetFramework="net35" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.5.3" targetFramework="net35" />
  <package id="dmath" version="1.5.71" targetFramework="net35" />
  <package id="DryIoc.dll" version="2.2.2" targetFramework="net35" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net35" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="net35" />
</packages>