<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dmath-pcl" version="1.5.64" targetFramework="portable4-net4+sl5+win8+wp8+wpa81" />
  <package id="DryIoc.dll" version="2.0.0" targetFramework="portable4-net4+sl5+win8+wp8+wpa81" />
  <package id="ILMerge" version="2.14.1208" targetFramework="portable40-net40+sl5+win8+wp8+wpa81" />
</packages>