<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Deveel.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Deveel.Data.Properties.Settings>
            <setting name="PluginFileFilter" serializeAs="String">
                <value>*.PlugIn.dll</value>
            </setting>
            <setting name="NammedConnection" serializeAs="String">
                <value>Default - DeveelDB SA@localhost</value>
            </setting>
        </Deveel.Data.Properties.Settings>
    </userSettings>
</configuration>