<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dmath" version="1.5.64" targetFramework="net35" />
  <package id="JetBrains.dotMemoryUnit" version="2.1.20150828.125449" targetFramework="net35" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
</packages>